

<div class="container">
  <div class="topbar">
    <div class="logo">
      <h2>AgriManager+.</h2>
    </div>
    <div class="search">
      <input name="search" placeholder="search here" type="text">
      <label for="search"><i class="fas fa-search"></i></label>
    </div>
    <i class="fas fa-bell"></i>
    <div class="user">
      <img alt="" src="user.png">
    </div>
  </div>
  <div class="sidebar">
    <ul>
      <li>
        <a href="#">
          <i class="fas fa-th-large"></i>
          <div>Dashboard</div>
        </a>
      </li>
      <!-- <li>
          <a href="#">
              <i class="fas fa-seedling"></i>
              <div>Cultures</div>
          </a>
      </li> -->
      <li class="dropdown">
        <a href="#">
          <i class="fas fa-seedling"></i>
          <div>Cultures</div>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Culture 1</a></li>
          <li><a href="#">Culture 2</a></li>
          <li><a href="#">Culture 3</a></li>
          <!-- Ajoutez autant d'éléments de liste que nécessaire -->
        </ul>
      </li>
      <li>
        <a href="listeUser">
          <i class="fas fa-tractor"></i>
          <div>Liste Utilisateur</div>
        </a>
      </li>
      <li>
        <a href="listeProjet">
          <i class="fas fa-users"></i>
          <div>Liste de Demande Prjet</div>
        </a>
      </li>
      <li>
        <a href="ajoutUser  ">
          <i class="fas fa-chart-bar"></i>
          <div>Ajout Utilisateur</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-hand-holding-usd"></i>
          <div>Earnings</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-cog"></i>
          <div>Settings</div>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fas fa-question"></i>
          <div>Help</div>
        </a>
      </li>
    </ul>
  </div>
  <div class="main">

    <marquee><H1 class="text-center" style="color: #28a745;">Ajouter un projet Agricole</H1></marquee>
    <div class="add-culture-form">
      <h2>Ajouter un Utilisateur</h2>
      <form action="/path_to_registration_logic" id="cultureForm" method="post" #etuForm="ngForm" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label for="nomProjet">Nom: </label>
          <input id="nomProjet" name="nom" required type="text" [(ngModel)]="user.nom">
        </div>

        <div class="form-group">
          <label for="dateDebut">Prénom:</label>
          <input id="dateDebut" name="prenom" required type="text" [(ngModel)]="user.prenom">
        </div>

        <div class="form-group">
          <label for="dateFin">Contact:</label>
          <input id="dateFin" name="contact" required type="text" [(ngModel)]="user.contact">
        </div>

        <!-- <div class="form-group">
          <label for="description">Email:</label>
          <textarea id="description" name="email" required rows="4"></textarea>
        </div> -->
        <div class="form-group">
          <label for="lieu">Email:</label>
          <input id="lieu" name="email" required type="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="lieu">Password:</label>
          <input id="lieu" name="password" required type="password" [(ngModel)]="user.password">
        </div>
         <div class="form-group">
          <label for="tache">Role:</label>
          <Select class="form-group" [(ngModel)]="user.role">
            <option value="">Choisir un profil</option>
            <option value="paysan">Paysan</option>
            <option value="admin">Admin</option>
            <option value="client">Client</option>

          </Select>
        </div>
       <!-- <div class="form-group">
          <label for="semence">Semence:</label>
          <Select class="form-group">
            <option value="">Choisir une semence</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Forestry">Forestry</option>

          </Select>
        </div> -->

        <button type="submit">Ajouter Culture</button>
      </form>
    </div>
  </div>



