body {
  font-family: 'Poppins', sans-serif;
   /* Une couleur d'arrière-plan claire pour contraster avec le formulaire */
}

.mt-5 {
  /**/
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #217a3b;
  border-color: #217a3b;
}
.mt-3 a{
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

}
