<footer class="text-white mt-5" style="background-color: #28a745;">
<footer class="text-white mt-5 fixed" style="background-color: #28a745;">
  <div class="container py-4">
      <!-- Première ligne: Menus -->
      <div class="row">
          <!-- Colonne 1 : Menu -->
          <div class="col-md-4">
              <h4>Menu</h4>
              <ul class="list-unstyled">
                  <li><a href="#accueil" class="text-white">Accueil</a></li>
                  <li><a href="#apropos" class="text-white">À propos de nous</a></li>
                  <li><a href="#services" class="text-white">Nos services</a></li>
                  <li><a href="cultures.html" class="text-white">Les Cultures</a></li>
                  <li><a href="#contact" class="text-white">Contacts</a></li>
              </ul>
          </div>

          <!-- Colonne 2 : Liens supplémentaires -->
          <div class="col-md-4">
              <h4>Informations</h4>
              <ul class="list-unstyled">
                  <li><a href="blog" class="text-white">Blog</a></li>
                  <li><a href="conditions" class="text-white">Conditions & Termes</a></li>
                  <li><a href="termes" class="text-white">Politiques de Confidentialité</a></li>
              </ul>
          </div>

          <!-- Colonne 3 : Réseaux sociaux -->
          <div class="col-md-4">
              <h4>Suivez-nous</h4>
              <a href="#" class="text-white mr-3"><i class="fab fa-facebook"></i></a>&nbsp;
              <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>&nbsp;
              <a href="#" class="text-white mr-3"><i class="fab fa-instagram"></i></a>&nbsp;
              <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i></a>
          </div>
      </div>

      <!-- Deuxième ligne: Copyright -->
      <div class="row mt-4">
          <div class="col-md-12">
              <p class="text-center mb-0">© 2023 AgriManager+. Tous droits réservés.</p>
              <p class="text-center mb-0">© <span id="year"></span> AgriManager+. Tous droits réservés.</p>
          </div>
      </div>
  </div>
</footer>


