
<header-paysan></header-paysan>


<!-- CONTENT -->
<section id="content">
  <!-- navbar.component.html -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu'></i>
    <a class="nav-link" href="#">Categories</a>
    <form action="#">
      <div class="form-input">
        <input placeholder="Search..." type="search">
        <button class="search-btn" type="button"><i class='bx bx-search'></i></button>
      </div>
    </form>
    <div class="dropdown">
      <a (click)="toggleNotificationDropdown()" class="notification" href="">
        <i class='bx bxs-bell'></i>
        <span class="num">8</span>
      </a>
      <div *ngIf="showNotificationDropdown" class="dropdown-content">
        <!-- Contenu du dropdown Notification -->
        <a href="#">Notification 1</a>
        <a href="#">Notification 2</a>
        <!-- Ajoutez d'autres éléments selon vos besoins -->
      </div>
    </div>
    <div class="dropdown">
      <a (click)="toggleProfileDropdown()" class="profile" href="">
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      </a>
      <div *ngIf="showProfileDropdown" class="dropdown-content">
        <!-- Contenu du dropdown Profile -->
        <a href="#">Mon Profil</a>
        <a href="#">Paramètres</a>
        <a href="#">Déconnexion</a>
      </div>
    </div>
  </nav>

  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="#" style="color: #28a745;">Ajout D'une Culture</a>
          </li>
        </ul>
      </div>
      <a class="btn-download" href="#">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Download PDF</span>
      </a>
    </div>

   

          <div class="table-data">

            <div class="order">
              <h1>Ajouter un projet Agricole</h1>

              <div class="head">
                <form method="POST" #etuForm="ngForm" (ngSubmit)="submitForm()">
                  <div class="row">
                      <div class="column">
                          <label for="name">Nom de la Culture</label>
                          <input type="text" id="name" name="nom" [(ngModel)]="culture.nom" required="true" placeholder="Donner le nom de la culture">
                      </div>
                      <div class="column">
                          <label for="email">Date de début</label>
                          <input type="date" id="form6Example4" 
                          name="dateDebut" [(ngModel)]="culture.dateDebut" id="email" placeholder="Your email here">
                      </div>
                  </div>
                  <!-- <div class="row">
                      <div class="column">
                          <label for="subject">Subject</label>
                          <input type="text" id="subject" placeholder="Your subject here">
                      </div>
                      <div class="column">
                          <label for="contact">Contact Number</label>
                          <input type="tel" id="contact" placeholder="Your phone number here">
                      </div>
                  </div> -->
                  <div class="row">
                      <div class="column">
                          <label for="issue">Description du projet</label>
                          <textarea id="issue" placeholder="Description du projet in detail here" rows="3"></textarea>
                      </div>
                  </div>
                  <button type="submit">Ajouter</button>
              </form>


                </div>
            </div>
          </div>



  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->






























