<app-menu></app-menu>

<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Politique de confidentialité d'AgriManager+</h1>

      <p>Merci d'avoir choisi AgriManager+ pour vous aider dans vos activités agricoles. Chez AgriManager+, nous attachons une grande importance à la confidentialité de vos informations personnelles et nous nous engageons à les protéger.</p>

      <h2>Collecte d'informations personnelles</h2>
      <p>Lorsque vous utilisez notre application, nous pouvons collecter certaines informations personnelles telles que votre nom, votre adresse e-mail, votre adresse IP, votre emplacement géographique, vos informations d'identification, vos données financières, etc.</p>

      <h2>Utilisation de vos informations</h2>
      <ul>
          <li>Administration de votre compte</li>
          <li>Personnalisation de votre expérience avec notre application</li>
          <li>Fourniture de services demandés</li>
          <li>Amélioration de notre application et nos services</li>
          <li>Communication avec vous</li>
          <li>Envoi d'informations sur nos offres et promotions</li>
      </ul>

      <h2>Partage d'informations avec des tiers</h2>
      <p>Dans certaines circonstances, nous pouvons partager vos informations personnelles avec des tiers soigneusement sélectionnés.</p>

      <h2>Protection de vos informations</h2>
      <p>Nous prenons toutes les mesures techniques et organisationnelles nécessaires pour protéger vos informations personnelles.</p>

      <h2>Conservation des informations</h2>
      <p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour les objectifs mentionnés.</p>

      <h2>Droits des utilisateurs</h2>
      <p>Vous avez le droit d'accéder à vos informations, de les corriger ou de les supprimer.</p>

      <h2>Mises à jour de la politique</h2>
      <p>Nous nous réservons le droit de mettre à jour cette politique de confidentialité à tout moment.</p>

      <p>Merci de faire confiance à AgriManager+ pour vous accompagner dans vos activités agricoles.</p>
    </div>
    <div class="col-md-6">
      <img src="assets/images/privacy.png" alt="">
    </div>
  </div>
</div>


<br><br><br>


