<app-menu></app-menu>
<br><br><br>

<!-- publication-details.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/images/recolte.png" class="img-fluid" alt="Image de la publication">
    </div>
    <div class="col-md-6 details-container">
      <h2>Titre</h2>
      <p>Description</p>
      <p>Culture: Culture</p>
      <p>Commentaires: Commentaire</p>

      <div class="contact-owner">
        Contacter le Proprietaire:
        <div class="icons">
          <a href="https://wa.me/777026066?text=Bonjour%20!%20Voici%20le%20lien%20de%20la%20publication%3A%20https%3A%2F%2Fexample.com%2Fpublication" target="_blank"><i class="fab fa-whatsapp"></i></a>
          <a href="mailto:agrimanagerplus@gmail.com?subject=Publication%20Info&body=Bonjour%20!%20Voici%20le%20lien%20de%20la%20publication%3A%20https%3A%2F%2Fexample.com%2Fpublication"><i class="far fa-envelope"></i></a>
          <a href="tel:+221777026066"><i class="fas fa-phone"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
