
<header-paysan></header-paysan>



<!-- CONTENT -->
<section id="content">

 <!-- navbar.component.html -->
<nav>
  <i (click)="addToggle()" class='bx bx-menu'></i>
  <a class="nav-link" href="#">Categories</a>
  <form action="#">
    <div class="form-input">
      <input placeholder="Search..." type="search">
      <button class="search-btn" type="button"><i class='bx bx-search'></i></button>
    </div>
  </form>
  <div class="dropdown">
    <a (click)="toggleNotificationDropdown()" class="notification">
      <i class='bx bxs-bell'></i>
      <span class="num">8</span>
    </a>
    <div *ngIf="showNotificationDropdown" class="dropdown-content">
      <!-- Contenu du dropdown Notification -->
      <a href="#">Notification 1</a>
      <a href="#">Notification 2</a>
      <!-- Ajoutez d'autres éléments selon vos besoins -->
    </div>
  </div>
  <div class="dropdown">
    <div (click)="toggleProfileDropdown()" class="profile" href="">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </div>

  </div>
</nav>

  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="#" style="color: #28a745;">Home</a>
          </li>
        </ul>
      </div>
      <a class="btn-download" href="#">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Download PDF</span>
      </a>
    </div>



    <div class="table-data">
      <div class="order">
        <div class="head">
          <h3>Listes des projets agricoles</h3>
          <i class='bx bx-search' ></i>
          <i class='bx bx-filter'></i>
        </div>
        <table>
          <thead>
            <tr>
              <th>Nom</th>
              <th>Date Debut</th>
              <th>Date Fin</th>
            </tr>
          </thead>
          <tbody *ngFor="let c of culture">
            <tr>
              <td>{{c.nom}}</td>
              <td>{{c.dateDebut}}</td>
              <td>{{c.dateFin}}</td>
              <td><span class="status completed">Modifier</span></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->
