
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #28a745;">
  <div class="container d-flex justify-content-between">
    <!-- Logo à gauche -->
    <a class="navbar-brand" href="#"><img alt="" src="assets/images/logoAM.png"></a>

    <!-- Bouton de basculement pour la navigation responsive -->
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens au milieu (utilisent la classe collapse et l'ID navbarNav) -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/accueil/']"><i class="fas fa-home"></i> Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'#apropos'"><i class="fas fa-info-circle"></i> À propos de nous</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['#services']" ><i class="fas fa-arrow-circle-down"></i> Nos services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/publications']"><i class="fas fa-seedling"></i> Les Cultures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/#contact']"><i class="fas fa-phone"></i> Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/#joinUsSection']"><i class="fas fa-signature"></i> Rejoins Nous</a>
        </li>
      </ul>
      <div class="d-flex">
        <button class="btn btn-light mr-2"><i class="fas fa-lock"></i> <a class="login" [routerLink]="['/login']"> Se connecter</a></button>
        <button class="btn btn-light"><i class="fas fa-user-plus"></i> <a class="login" [routerLink]="['/register']"> S'inscrire</a></button>
      </div>
    </div>

    <!-- Boutons à droite -->

  </div>
</nav>
