<app-menu></app-menu>
<br><br><br><br><br>

<div id="app-container" class="container">
  <div class="row">
    <div class="col-md-6">
  <h1>Conditions d'utilisation pour AgriManager+</h1>

  <p>Bienvenue aux conditions d'utilisation d'AgriManager+! En utilisant nos services, vous acceptez les termes et conditions suivants :</p>

  <ul>
      <li>Vous vous engagez à utiliser nos services de manière légale et conforme aux lois en vigueur.</li>
      <li>Vous acceptez de fournir des informations précises et à jour lors de votre utilisation de nos services.</li>
      <li>Vous reconnaissez que toute utilisation abusive, frauduleuse ou non autorisée de nos services est strictement interdite.</li>
      <li>Vous consentez à ce que vos données personnelles soient collectées et utilisées conformément à notre politique de confidentialité.</li>
      <li>Vous comprenez que nos services peuvent être soumis à des interruptions temporaires pour des raisons de maintenance ou de mise à jour.</li>
      <li>Vous acceptez d'indemniser AgriManager+ et ses associés de toute responsabilité liée à votre utilisation de nos services ou violation des présentes conditions d'utilisation.</li>
      <li>Vous reconnaissez que nous pouvons modifier ces termes et conditions à tout moment, et il est de votre responsabilité de les consulter régulièrement.</li>
  </ul>

  <p>En utilisant nos services, vous acceptez ces termes et conditions. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>
</div>
<div class="col-md-6">
  <img src="assets/images/terms.png" alt="">
</div>
</div>
</div>


<app-footer></app-footer>
