<app-sidebar-paysan></app-sidebar-paysan>



  <!-- <div class="main">

    <marquee><H1 class="text-center" style="color: #28a745;">Ajouter un projet Agricole</H1></marquee>
    <div class="add-culture-form">
      <h2>Ajouter une culture</h2>
      <form action="#" id="cultureForm" method="post">
        <div class="form-group">
          <label for="nomProjet">Nom du Projet:</label>
          <input id="nomProjet" name="nomProjet" required type="text">
        </div>

        <div class="form-group">
          <label for="dateDebut">Date de Début:</label>
          <input id="dateDebut" name="dateDebut" required type="date">
        </div>

        <div class="form-group">
          <label for="dateFin">Date de Fin:</label>
          <input id="dateFin" name="dateFin" required type="date">
        </div>

        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" required rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="lieu">Lieu:</label>
          <input id="lieu" name="lieu" required type="text">
        </div>
        <div class="form-group">
          <label for="tache">Tache:</label>
          <Select class="form-group">
            <option value="">Choisir une tâche</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Forestry">Forestry</option>

          </Select>
        </div>
        <div class="form-group">
          <label for="semence">Semence:</label>
          <Select class="form-group">
            <option value="">Choisir une semence</option>
            <option value="Agriculture">Agriculture</option>
            <option value="Forestry">Forestry</option>

          </Select>
        </div>

        <button type="submit">Ajouter Culture</button>
      </form>
    </div>
  </div>

 -->
 <main>
  
 </main>
