<app-menu></app-menu>

<br><br><br><br><br>


  
  <div class="row">
  <div class="col-lg-8">
  
  <div class="card mb-4">
  <div class="card-header"><H1>Changez votre Mot de passe</H1></div>
  <div class="card-body">
  <form method="post" [formGroup]="emailUser" (ngSubmit)="submitForm()">
  
  <div class="mb-3">
  <label class="small mb-1" for="newPassword">Saisir votre Email</label>
  <input class="form-control" name="email" formControlName="email" id="newPassword" type="text" placeholder="Enter votre Email">
  </div>

  <button class="btn btn-primary" style="background-color:#28a745; border-color:#28a745;" type="submit">Enregistrer</button>
  </form>
  </div>
  </div>
</div>
</div>

  
 
 
  


<app-footer></app-footer>