

  <header-paysan></header-paysan>

  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <i (click)="addToggle()" class='bx bx-menu' ></i>
      <a class="nav-link" href="#">Categories</a>
      <form action="#">
        <div class="form-input">
          <input placeholder="Search..." type="search">
          <button class="search-btn" type="button"><i class='bx bx-search' ></i></button>
        </div>
      </form>
      <a class="notification" href="#">
        <i class='bx bxs-bell' ></i>
        <span class="num">8</span>
      </a>
      <a class="profile" href="#">
        <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
      </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
      <div class="head-title">
        <div class="left">
          <h1>Dashboard</h1>
          <ul class="breadcrumb">
            <li>
              <a href="#">Dashboard</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" href="listeEau" style="color: #28a745;">Source d'eaux</a>
            </li>
          </ul>
        </div>
        <a class="btn-download" href="#">
          <i class='bx bxs-cloud-download' ></i>
          <span class="text">Download PDF</span>
        </a>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
      <div *ngIf="sucessMessage" class="alert alert-success">{{ sucessMessage }}</div>

      <a  class="btn btn-secondary" href="ajoutEau" style="background-color: #28a745; border-color: #28a745;" >Ajout Eau</a>

      <div class="table-data">
        <div class="order">
          <div class="head">
            <h3>Listes des Eau</h3>
            <i class='bx bx-search' ></i>
            <i class='bx bx-filter'></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>Source </th>
                <th>Quantite</th>
                <th colspan="3">Action</th>
              </tr>
            </thead>
            <tbody *ngFor="let t of eaux">
              <tr>
                <td>
                  <p>{{t.source}}</p>
                </td>
                <td>{{t.quantite}}</td>
                <td><button class="btn btn-warning" (click)="modifierEau(t.eauId)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteEau(t.eauId)">Supprimer</button></td>
                <button (click)="detailsEau(t.eauId)" class="btn btn-info">View</button>
                <!-- <td><button type="submit" class="status completed" (click)="valider(v.idDemande,v.email)">Pour valider</button></td> -->
              </tr>
            </tbody>
          </table>
        </div>

      </div>


    </main>
    <!-- MAIN -->
  </section>
  <!-- CONTENT -->

