.container {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Styles pour les cartes des publications */
.card {
  border: none;
  border-radius: 8px;
  transition: transform 0.2s;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.card:hover {
  transform: scale(1.03);
}

.card-title {
  font-size: 24px;
  color: #28a745;
}

.card-text {
  color: #666;
}

.btn-primary {
  background-color: #28a745;
  border: none;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #28a745;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Styles pour les modaux */
.modal-content {
  border-radius: 10px;
}

.modal-header, .modal-footer {
  background-color: #28a745;
  color: #fff;
}

.modal-title {
  font-size: 24px;
}

.modal-body {
  line-height: 1.6;
}

.btn-danger {
  background-color: #d32f2f;
}

.btn-danger:hover {
  background-color: #c12727;
}
