<header-dashboard></header-dashboard>
<!-- CONTENT -->
<section id="content">
  <!-- NAVBAR -->
  <nav>
    <i (click)="addToggle()" class='bx bx-menu' ></i>
    <a class="nav-link" href="#">Categories</a>
    <form action="#">
      <div class="form-input">
        <input placeholder="Search..." type="search">
        <button class="search-btn" type="button"><i class='bx bx-search' ></i></button>
      </div>
    </form>
    <a class="notification" href="#">
      <i class='bx bxs-bell' ></i>
      <span class="num">8</span>
    </a>
    <a class="profile" href="#">
      <img src="https://secure.gravatar.com/avatar/d09eaad01aea86c51b4f892b4f8abf6f?s=100&d=wavatar&r=g">
    </a>
  </nav>

  <main>

    <div class="head-title">
      <div class="left">
        <h1>Dashboard</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" href="#" style="color: #28a745;">Profil</a>
          </li>
        </ul>
      </div>
      <a class="btn-download" href="#">
        <i class='bx bxs-cloud-download' ></i>
        <span class="text">Download PDF</span>
      </a>
    </div>

    <div class="container-xl px-4 mt-4">

      <nav class="nav nav-borders">
      <a class="nav-link  ms-0" href="profilAdmin" target="__blank">Profile</a>
      
      <a class="nav-link active" href="AdminChangePassword" target="__blank">Security</a>
      
      </nav>

      <hr class="mt-0 mb-4">
      <div class="row">
      <div class="col-lg-8">
      
      <div class="card mb-4">
      <div class="card-header">Change Password</div>
      <div class="card-body">
      <form>
      
      <div class="mb-3">
      <label class="small mb-1" for="currentPassword">Current Password</label>
      <input class="form-control" id="currentPassword" type="password" placeholder="Enter current password">
      </div>
      
      <div class="mb-3">
      <label class="small mb-1" for="newPassword">New Password</label>
      <input class="form-control" id="newPassword" type="password" placeholder="Enter new password">
      </div>
      
      <div class="mb-3">
      <label class="small mb-1" for="confirmPassword">Confirm Password</label>
      <input class="form-control" id="confirmPassword" type="password" placeholder="Confirm new password">
      </div>
      <button class="btn btn-primary" type="button">Save</button>
      </form>
      </div>
      </div>
      </div>
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header">Delete Account</div>
          <div class="card-body">
          <p>La suppression de votre compte est une action permanente et ne peut pas être annulée. Si vous êtes sûr(e) de vouloir supprimer votre compte, sélectionnez le bouton ci-dessous.</p>
          <button class="btn btn-danger-soft text-danger" type="button">Je comprends, Supprimer mon compte</button>
          </div>
          </div>
      </div>
      </div>
      </div>



    </main>
    </section>