<app-menu></app-menu>
<br><br><br><br>

<section class="menu" id="menu">
  <div class="main-text">
    <h2>Most Popular Pizza</h2>
    <p>We have selected for You<br> the most exquisite tastes around the world</p>
  </div>

  <div class="menu-content">
    <div class="row">
      <img src="img/m1.jpg" alt="main-product1">
      <div class="menu-text">
        <div class="menu-left">
          <h4>Margarita</h4>
        </div>
        <div class="menu-right">
          <h5>$17.00</h5>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
      <div class="star">
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="img/m2.jpg" alt="main-product2">
      <div class="menu-text">
        <div class="menu-left">
          <h4>Montanara</h4>
        </div>
        <div class="menu-right">
          <h5>$17.00</h5>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
      <div class="star">
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="img/m3.jpg" alt="main-product3">
      <div class="menu-text">
        <div class="menu-left">
          <h4>Con Carne</h4>
        </div>
        <div class="menu-right">
          <h5>$17.00</h5>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
      <div class="star">
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
      </div>
    </div>

    <div class="row">
      <img src="img/m4.jpg" alt="main-product4">
      <div class="menu-text">
        <div class="menu-left">
          <h4>Pepperoni</h4>
        </div>
        <div class="menu-right">
          <h5>$17.00</h5>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
      <div class="star">
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
        <a href="#"><i class='bx bxs-star' ></i></a>
      </div>
    </div>
  </div>

</section>

<app-footer></app-footer>
