.hover-zoom:hover {
  transform: scale(1.1);
}

.hover-move:hover {
  transform: translateX(10px);
}
.hover-zoom{
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'poppins', sans-serif;
}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}


.btn-light, .nav-link {
  border-color: #28a745;
  color: #28a745;
}

.btn-light:hover, .nav-link:hover {
  background-color: #28a745;
  color: #fff;

}
#apropos h2, #services h2, #equipe h2,#contact h2{
  font-size :3rem ;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #28a745;
  color: #fff;
}
#joinUsSection h2{
    font-size :3rem ;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    background-color: #28a745;
    color: #fff;
}
#joinUsSection p{
  font-style: bold;
}
/*slides*/
#equipe .carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}

#equipe .carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

#equipe .carousel-item.active {
  transform: translateX(0);
  opacity: 1;
}

#equipe .card {
  max-width: 300px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

#equipe .card-img-top {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  object-fit: cover;
}

.info-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 5px;
  margin-bottom: 15px;

}

.info-box i {
  margin-right: 15px;
}

form button {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #217a3b;
}

footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer h4 {
  margin-bottom: 20px;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

#animated-text1, #animated-text2 {
  display: inline-block;
  overflow: hidden;
  border-right: 3px solid;
  white-space: nowrap;
  animation: blink 1s infinite;
  font-style: italic;
  font-weight: bolder;
  font-size: 3.5rem;
}
/*publications*/

.card {
  transition: transform .2s;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: scale(1.05);
}

.pagination {
  background-color: #28a745;
  padding: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.pagination .page-link {
  color: #28a745;
  border-color: #28a745;
}

.pagination .page-link:hover {
  background-color: #fff;
  color: #28a745;
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  color: #28a745;
  border-color: #fff;
}
/*login*/
.login{
  color: #28a745;

}
.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color: #28a745;
  background-origin: padding-box;
  border: #28a745 solid 2px;
  border-radius: 50%;
}
/*loader
.hidden {
  display: none;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

.fas.fa-seedling {
  font-size: 3em;
  animation: fadeInOut 1.5s infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0.2; }
  50% { opacity: 1; }
  100% { opacity: 0.2; }
}*/
<<<<<<< HEAD
=======
/*contact form*/

.bg-primary {
  background: #28a745 !important; }

.ftco-section {
  padding: 7em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.form-control {
  height: 36px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  border-radius: 2px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid rgba(0, 0, 0, 0.1); }
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important; }
.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important; }
.form-control:-ms-input-placeholder {
  /* IE 0+ */
  color: rgba(0, 0, 0, 0.3) !important; }
.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important; }
.form-control:focus, .form-control:active {
  border-color: #28a745 !important; }

textarea.form-control {
  height: inherit !important; }

.wrapper {
  width: 100%; }

.contact-wrap {
  background: #fff; }

@media (max-width: 767.98px) {
  .info-wrap {
    height: 400px; } }

.dbox {
  width: 100%;
  margin-bottom: 25px; }
@media (max-width: 767.98px) {
  .dbox {
    margin-bottom: 25px !important;
    padding: 0 20px; } }
.dbox p {
  margin-bottom: 0; }
.dbox p span {
  font-weight: 500;
  color: #000; }
.dbox p a {
  color: #28a745; }
.dbox .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #28a745;
  margin: 0 auto;
  margin-bottom: 20px; }
.dbox .icon span {
  font-size: 20px;
  color: #fff; }
.dbox .text {
  width: 100%; }

.btn {
  padding: 12px 16px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
@media (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
    transition: none; } }
.btn:hover, .btn:active, .btn:focus {
  outline: none !important; }
.btn.btn-primary {
  background: #28a745 !important;
  border-color: #28a745 !important;
  color: #fff; }
.btn.btn-primary:hover, .btn.btn-primary:focus {
  border-color: #28a745 !important;
  background: #28a745 !important; }

.contactForm .label {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; }

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0; }

#contactForm .error {
  color: red;
  font-size: 12px; }

#contactForm .form-control {
  font-size: 16px; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: red; }

#form-message-success {
  color: #28a745;
  font-size: 18px;
  font-weight: 500; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-size: 16px;
  font-weight: bold; }
>>>>>>> 00c887a026285c701b8cc3e0ab4716dbbb2ae772
