
<app-menu></app-menu>
<br><br>
    <div class="container mt-5 pt-5" id="accueil">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h1><span id="animated-text1"><strong>Welcome to</strong></span> <span class="" style="color: #28a745;" id="animated-text2"><strong>AgriManager+</strong></span></h1>


                <h3>Rejoignez notre plateforme et révolutionnez votre gestion agricole !</h3>
            </div>
            <div class="col-lg-6">
                <img src="assets/images/Seeding-bro.png" alt="Banner Image" class="img-fluid hover-zoom">
            </div>
        </div>
    </div>

    <div class="container mt-5" id="apropos">
        <h2 class="text-center mb-4">À propos de nous</h2>

        <div class="row">
            <div class="col-lg-6">
                <img src="assets/images/farmer-using-smart-farm-application.png" alt="About Us Image" class="img-fluid hover-move">
            </div>
            <div class="col-lg-6">
                <h5>AgriManager+ est une entreprise spécialisée dans le domaine de l'agriculture, située à Diamniadio dans la région de Dakar. Nous offrons des solutions innovantes pour aider les agriculteurs à améliorer leur productivité et leur rentabilité.

                  Nous sommes passionnés par notre travail et nous nous efforçons de fournir des services de qualité à nos clients. Notre équipe est composée d'experts en agriculture et en technologie, qui travaillent ensemble pour développer des solutions sur mesure pour répondre aux besoins de chaque client.</h5>
            </div>
        </div>
    </div>

    <div class="container mt-5" id="services">
        <h2 class="text-center  mb-4">Nos services</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="card hover-zoom">
                    <img src="assets/images/Farmer-bro.png" alt="Service Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-success">Vente de produits agricoles</h5>
                        <p class="card-text">Description du service 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card hover-zoom">
                    <img src="assets/images/9933449_4312368.jpg" alt="Service Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-success">Gestion de projet agricole</h5>
                        <p class="card-text">Description du service 2.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card hover-zoom">
                    <img src="assets/images/Tree life-bro.png" alt="Service Image" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-success">Gestion des ressources agricoles</h5>
                        <p class="card-text">Description du service 3.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5" id="equipe">
        <h2 class="text-center mb-4">Notre Équipe de Développeurs</h2>

        <div id="teamCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card">
                        <img src="assets/images/dev.jpg" alt="Developer 1" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-success">Serigne Cheikh NDAO</h5>
                            <p class="card-text">Développeur Back-end</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card">
                        <img src="assets/images/dev1.jpg" alt="Developer 2" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title text-success">Seynabou THIANDOUM</h5>
                            <p class="card-text">Développeuse Back-end</p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#teamCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#teamCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>

    <div class="container mt-5" id="contact">
        <h2 class="text-center mb-4">Contactez-nous</h2>

        <div class="row" id="formulaire">
            <!-- Formulaire de contact à gauche -->
            <div class="col-lg-6">
                <form>
                    <div class="form-group">
                        <label for="name">Nom</label>
                        <input type="text" class="form-control" id="name" placeholder="Entrez votre nom">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Envoyer</button>
                </form>
            </div>

            <!-- Détails du service à droite -->
            <div class="col-lg-6">
                <div class="info-box mb-4">
                    <i class="fas fa-map-marker-alt fa-2x text-success"></i>
                    <p>Rufisque cité, du savoir, SD City</p>
                </div>
                <div class="info-box mb-4">
                    <i class="fas fa-phone fa-2x text-success"></i>
                    <p>+221 77 702 60 66</p>
                </div>
                <div class="info-box mb-4">
                    <i class="fas fa-envelope fa-2x text-success"></i>
                    <p>agrimanagerplus@gmail.com</p>
                </div>
                <div class="info-box">
                    <i class="fas fa-clock fa-2x text-success"></i>
                    <p>Lundi - Vendredi: 9h - 18h</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="loading-container">
    <i class="fas fa-seedling"></i>
    </div> -->

    <br>
    






